.dashB_detailew{


.dashB_card{
    
   
    background-color: rgb(var(--bg));
    hr{
        border-color: #c7c7c7;
    }
    ._card_icon{
        width:60px;
        height:60px;       
      
      
     
      
    } 
     &._crad1{
        ._card_icon{
            background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
        }
    }

        &._crad2{
            ._card_icon{
            background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 
        }
    }

        &._crad3{
            ._card_icon{
            background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        }
    }
        &._crad4{
            ._card_icon{
                background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
        }
    }
}

}